<div class="container">
  <h1>Artists</h1>

  <p><%= link_to "Add New Album", new_album_path %></p>


  <% @alphabetize_albums.each do |album| %>
      <div class="card">
        <h3><em><%= link_to album.artist_name, album_path(album) %></em></h3>

      </div>
  <% end %>
</div>
